<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
<head>
    <title>Anonymous Page</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:replace="fragments/alert :: alert_headline"></div>

    <h2 th:if="${@securityUtil.isUserLoggedIn()}" th:text="${'Hello '+ @securityUtil.getUsername()}"></h2>

    <p th:if="${@securityUtil.isUserLoggedIn()}" th:text="${'You are: '+ name}"></p>

    <p>These are the authorities of the user:</p>
    <ul class="list-group" th:each="authority : ${authorities}">
        <li class="list-group-item" th:text="${authority}"></li>
    </ul>
</div>
</body>
</html>