<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
<head>
    <title th:text="${@webUtil.getApplicationName()}"></title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:replace="fragments/alert :: alert_headline"></div>

    <h1 th:text="${@webUtil.getApplicationName()}"></h1>

    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <div class="row">
            <table class="table table-borderless table-sm">
                <tbody class="table-light">
                <tr>
                    <th scope="row">Anwendungsversion:</th>
                    <td class="text-right" th:text="${@buildInfoUtil.getAppVersion()}"></td>
                </tr>
                <tr>
                    <th scope="row">Build-Zeitpunkt:</th>
                    <td class="text-right" th:text="${@buildInfoUtil.getBuildTimestamp()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>