<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
    <body>
    	<h1>Secured products page</h1>
        <h2 th:text="${'Hello '+ principal.getName()}"></h2>
        <ul th:each="product : ${products}">
            <li th:text="${product}"></li>
        </ul>
        <p>
            <a th:href="@{/logout}">Logout</a>
        </p>
        <p>
            <a th:href="@{/}">Index page</a>
        </p>
        <p>These are the authorities of the user:</p>
        <ul class="list-group" th:each="authority : ${authorities}">
            <li class="list-group-item" th:text="${authority}"></li>
        </ul>
    </body>
</html>