<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
    <title>Products</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:replace="fragments/alert :: alert_headline"></div>

    <h1>Secured products page</h1>
    <h2 th:text="${'Hello '+ principal.getName()}"></h2>
    <ul class="list-group" th:each="product : ${products}">
        <li class="list-group-item" th:text="${product}"></li>
    </ul>
    <p>These are the authorities of the user:</p>
    <ul class="list-group" th:each="authority : ${authorities}">
        <li class="list-group-item" th:text="${authority}"></li>
    </ul>
</div>
</body>
</html>